<div class="wave "></div>
<div class="wave -two"></div>
<div class="wave -three"></div>
<div class="wave -four"></div>
<div class="wave -five"></div>
<div class="wave -six"></div>
<div class="wave -seven"></div>
<div class="wave -eight"></div>
<div class="wave -nine"></div>
<div class="wave -ten"></div>
